.btn-add-event {
  position: fixed;
  top: 32px;
  right: 32px;
  padding: 12px 16px;
  border-radius: 50%;
  background: #06b6d4;
  color: white;
  box-shadow: 0 0 16px #06b6d4;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-add-event:hover {
  background: #0ea5e9;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  background: rgba(75, 0, 130, 0.3);
  backdrop-filter: blur(12px);
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 24rem;
}

.modal-content input,
.modal-content select {
  padding: 8px;
  border-radius: 8px;
  background: #404070;
  border: none;
  color: white;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #06b6d4;
  color: white;
}

.modal-buttons button:first-child:hover {
  background: #0ea5e9;
}

.modal-buttons button:last-child {
  background: #6b7280;
  color: white;
}

.modal-buttons button:last-child:hover {
  background: #4b5563;
}